body{
    width:100%;
    height:100%;
    margin:0px auto;
    padding:0px auto;
    overflow-x:hidden;
}

@font-face {
    font-family: 'iconfont';  /* project id 149377 */
    src: url('//at.alicdn.com/t/font_e9tnn6zbbcpu8fr.eot');
    src: url('//at.alicdn.com/t/font_e9tnn6zbbcpu8fr.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_e9tnn6zbbcpu8fr.woff') format('woff'),
    url('//at.alicdn.com/t/font_e9tnn6zbbcpu8fr.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_e9tnn6zbbcpu8fr.svg#iconfont') format('svg');
}

.icon{
    font-family: iconfont;
    font-size: 18px;
    font-style: normal;
}

.ico{
    font-family: iconfont;
    font-size: 39px;
    font-style: normal;
}

.layui-nav{
    background-color: #0C0C0C;
}

a.color:link {color: #FFF  }     /* 未访问的链接 */
a.color:visited {color: #FFF  }  /* 已访问的链接*/
a.color:hover {color: #00efff }   /* 当有鼠标悬停在链接上 */
a.color:active {color: #FFF}  /* 被选择的链接 */

.jz{
    width: 188px;
    height: 199px;
    margin: 0 auto;
    padding: 0;
}

.bg{
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-position: center 0;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    -webkit-background-size: cover;/* 兼容Webkit内核Chrome和Safari */
    -o-background-size: cover;
    zoom: 1;
}

.showtitle{
    float: left;
    width: 100%;
    margin: 15% 0 0 0;
    padding: 0 auto;
    border-width:0;
    text-align: center;
    font-size: 36px;
    font-weight: 100;
    font-family: "微软雅黑 Light";
    letter-spacing: 7px;
    vertical-align: middle;
    color: #ffffff;
    clear: both;
}

@media (max-width: 666px){
    .showtitle{  margin: 60% 0 0 0;  }
}
@media (min-width: 780px){
    .showtitle{  margin: 50% 0 0 0;  }
}
@media (min-width: 1920px){
    .showtitle{  margin: 15% 0 0 0;  }
}


.name{
    float: left;
    width: 100%;
    margin: 12.9% 0 66px 1px;
    padding: 0 auto;
    border-width:0;
    text-align: center;
    font-size: 19px;
    font-weight: 100;
    font-family: "微软雅黑 Light";
    vertical-align: middle;
    color: #ffffff;
}



.bgdiv{
    width:100%;
    height:100%;
    position:absolute;
    z-index:-999;
    background-color: #000;
}

.bgdiv img{
    position:absolute;
    width:100%;
    height:100%;
}

.logo{
    float: left;
    margin: 0px 10px 0 0;
}

.font{
    float: left;
    margin: 26px 0 0 16px;
    font-size: 18px;
    font-weight: 100;
    font-family: "微软雅黑 Light";
    letter-spacing: 3px;
    vertical-align: middle;
    color: #ffffff;
}

/*CSS-LOGO*/
.logoA{
    width: 60px;
    height: 60px;
    background-color: #1cb1f2;
    overflow:hidden;
    border-radius: 8px;
}
.logoB{
    width: 42px;
    height: 42px;
    background-color: #FE0;
    overflow:hidden;
    border-radius: 5px;
    margin-left: 9.5px;
    margin-top: 9.5px;
    -webkit-animation:circle 3.66s infinite linear;/*匀速*/
    -moz-animation:circle 3.66s infinite linear;/*匀速*/
    -o-animation:circle 3.66s infinite linear;/*匀速*/
    animation:circle 3.66s infinite linear;/*匀速*/
}
.logoC{
    width: 25px;
    height: 25px;
    background-color: #24caf2;
    overflow:hidden;
    border-radius: 50px;
    margin-left: 8.5px;
    margin-top: 8.5px;
    -webkit-animation:circle 3.66s infinite linear;/*匀速*/
    -moz-animation:circle 3.66s infinite linear;/*匀速*/
    -o-animation:circle 3.66s infinite linear;/*匀速*/
    animation:circle 3.66s infinite linear;/*匀速*/
}
.logoD{
    width: 13px;
    height: 13px;
    background-color: #fff;
    overflow:hidden;
    border-radius: 50px;
    margin-left: 6px;
    margin-top: 6px;
    -webkit-animation:scale 3.66s infinite linear;/*匀速*/
    -moz-animation:scale 3.66s infinite linear;/*匀速*/
    -o-animation:scale 3.66s infinite linear;/*匀速*/
    animation:scale 3.66s infinite linear;/*匀速*/
}
@-webkit-keyframes circle{
    0%{ transform:rotate(0deg);}
    80%{ transform:rotate(0deg);}
    100%{ transform:rotate(90deg);}
}
@-moz-keyframes circle{
    0%{ transform:rotate(0deg); }
    80%{ transform:rotate(0deg); }
    100%{ transform:rotate(90deg); }
}
@-o-keyframes circle{
    0%{ transform:rotate(0deg); }
    80%{ transform:rotate(0deg); }
    100%{ transform:rotate(90deg); }
}
@keyframes circle{
    0%{ transform:rotate(0deg); }
    80%{ transform:rotate(0deg); }
    100%{ transform:rotate(90deg); }
}
@-webkit-keyframes scale{
    0%{ transform:scale(1);}
    66%{ transform:scale(1);}
    73%{ transform:scale(0.6);}
    80%{ transform:scale(1.36);}
    85%{ transform:scale(0.7);}
    90%{ transform:scale(1.2);}
    93%{ transform:scale(0.8);}
    97%{ transform:scale(1.3);}
    100%{ transform:scale(1);}
}
@keyframes scale{
    0%{ transform:scale(1);}
    66%{ transform:scale(1);}
    73%{ transform:scale(0.6);}
    80%{ transform:scale(1.36);}
    85%{ transform:scale(0.7);}
    90%{ transform:scale(1.2);}
    93%{ transform:scale(0.8);}
    97%{ transform:scale(1.3);}
    100%{ transform:scale(1);}
}