*{
    margin: 0;
    padding: 0;
	list-style-type:none;
}
a:link,a:visited{
	color: #000000;
	text-decoration: none; 
}
.iconfont{font-family:"iconfont" !important;font-size:16px;font-style:normal;color: #FFF;background-color: #888;border-radius: 3px;}
.iconstar{font-family:"iconfont" !important;font-size:15px;font-style:normal;color: #ffd43b;}
.iconsv{font-family:"iconfont" !important;font-size:16px;font-style:normal;color: #FFF;}
.icons{font-family:"iconfont" !important;font-size:19px;font-style:normal;color: #FFF;}
.iconp{font-family:"iconfont" !important;font-size:33px;font-style:normal;color: #C6C6C6;}
.iconv{font-family:"iconfont" !important;font-size:66px;font-style:normal;color: #FFF}
.icontop{font-family:"iconfont" !important;font-size:35px;font-style:normal;color: #0c0c0c;  }

@font-face {
    font-family: 'iconfont';  /* project id 160594 */
    src: url('//at.alicdn.com/t/font_160594_ri4t3m8cv3s4te29.eot');
    src: url('//at.alicdn.com/t/font_160594_ri4t3m8cv3s4te29.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_160594_ri4t3m8cv3s4te29.woff') format('woff'),
    url('//at.alicdn.com/t/font_160594_ri4t3m8cv3s4te29.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_160594_ri4t3m8cv3s4te29.svg#iconfont') format('svg');
}

 a.color:link {color: #1edcff}     /* 未访问的链接 */
 a.color:visited {color: #1edcff}  /* 已访问的链接*/
 a.color:hover {color: #FFF}   /* 当有鼠标悬停在链接上 */
 a.color:active {color: #09C}  /* 被选择的链接 */

 a.colo:link {color: #CCC}     /* 未访问的链接 */
 a.colo:visited {color: #CCC}  /* 已访问的链接*/
 a.colo:hover {color: #FFF}   /* 当有鼠标悬停在链接上 */
 a.colo:active {color: #CCC}  /* 被选择的链接 */

span.c:hover {color: #27aaff;padding-bottom:1px;border-bottom:1px solid #27aaff;cursor:pointer }   /* 当有鼠标悬停在链接上 */
span.c:active {color: #27aaff}  /* 被选择的链接 */

.Gotop{position:fixed; _position:absolute; bottom:6%; right:3%; width:36px; height:36px; display:none;}
.Gotop a,.Gotop a:link{width:36px;height:36px;display:inline-block; background-color: #fff;  outline:none;border-radius: 36px}

@media (min-width: 1200px){
    .half-lineb{
        margin-top: 18.8%;
    }
}
@media (min-width: 1366px){
    .half-lineb{
        margin-top: 17.1%;
    }
}
@media (min-width: 1440px){
    .half-lineb{
        margin-top: 16.3%;
    }
}
@media (min-width: 1480px){
    .half-lineb{
        margin-top: 16%;
    }
}
@media (min-width: 1550px){
    .half-lineb{
        margin-top: 15.9%;
    }
}
@media (min-width: 1620px){
    .half-lineb{
        margin-top: 16.9%;
    }
}
@media (min-width: 1680px){
    .half-lineb{
        margin-top: 15%;
    }
}
@media (min-width: 1760px){
    .half-lineb{
        margin-top: 14.6%;
    }
}
@media (min-width: 1920px){
    .half-lineb{
        margin-top: 13.8%;
    }
}

header{
    position: absolute;
    top:0;
    left: 50%;
    margin-left: -500px;
    z-index: 9;
}
footer{
    background-color: #0c0c0c;
    height: 300px;
    width: 100%;
    bottom:0;
    margin-top: -10px;
}
nav{
    width: 1000px;
    height: 76px;
    line-height: 76px;
    text-align: center;
    font-size: 12px;
    float: right;
    padding: 30px 0 2px 3px;
    border-bottom: 1px solid #ffffff;
}
.s-title{
    position: absolute;
    letter-spacing: 6px;
    width: 100%;
    text-align: center;
    top: 300px;
    z-index: 6;
    color: white;
    font-size: 68px;
    font-family: 微软雅黑, "Helvetica Neue", sans-serif, SimHei;
    pointer-events:none;
}
.s-text{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 396px;
    z-index: 6;
    color: white;
    font-size: 56px;
    font-family: 微软雅黑, "Helvetica Neue", sans-serif, SimHei;
    pointer-events:none;
}
.i-text{
    position: relative;
    width: 300px;
    text-align: center;
    top: 88px;
    z-index: 7;
    color: white;
    font-size: 15px;
    font-family: 微软雅黑, "Helvetica Neue", sans-serif, SimHei;
    pointer-events:none;
}
.rv-text{
    position: relative;
    transform:rotate(90deg);
    width: 666px;
    text-align: center;
    top: 230px;
    font-weight: 500;
    left: -6%;
    z-index: 6;
    letter-spacing: -8px;
    color: white;
    font-size: 188px;
    font-family: 微软雅黑, "Helvetica Neue", sans-serif, SimHei;
    pointer-events:none;
}
.h-text{
    position: relative;
    width: 666px;
    text-align: center;
    top: 130px;
    font-weight: 500;
    left: 6%;
    z-index: 6;
    letter-spacing: -8px;
    color: white;
    font-size: 188px;
    font-family: 微软雅黑, "Helvetica Neue", sans-serif, SimHei;
    pointer-events:none;
}
/*nav-main*/
ul.nav-main{
    width: 100%;
    height: 100%;
    list-style-type: none;
}
/*导航条设置*/
ul.nav-main>li{
    width: 116px;
    height: 100%;
    display: block;
    color: #fff;
    margin-right: 8px;
    cursor: pointer;
}
ul.nav-main>li:hover{
    background: none;
}
/*隐藏盒子设置*/
div.hidden-box{
    width: 118px;
    line-height: 36px;
    border: 1px solid #FDE615;
    border-top: 0;
    position: absolute;
    display:none;
    background: rgba(30, 30, 30, 0.88);
    top: 80px;
    z-index:9;
    font-size: 15px;
}
.hidden-box>ul{
    list-style-type: none;
    cursor: pointer;
}
.hidden-box li:hover{
    background: #FDE615;
    color: #000;
}
/*隐藏盒子位置设置*/
.hidden1{
    right: 602px;
}
.hidden2{
    right: 480px;
}
.hidden3{
    right: 356px;
}
.box04{
    left:485px;
}
.ulfont{
    color: #12E9FF;
}
.tag{
    float: right;
    padding: 0 auto;
    text-align: center;
    font-size: 18px;
    color: #ffffff;
}
.tag:hover{
    border-bottom: 3px solid #ffffff;
    cursor: pointer;
}

.tagimg{
    float: left;
    background-color: rgba(240,240,240,0.36);
    margin:-30px 0 0 0;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    box-shadow: 2px 3px 3px #666666;
}
.tagtel{
    font-weight: 600;
    float: right;
    margin-left: 3%;
    margin-bottom: -3px;
    text-align: right;
}
.bgimg{
    position: relative;
}
.vicon{
    position: absolute;
    top:70%;
    left: 88%;
    z-index: 3;
    pointer-events:none;
}
.svideo{
    position: fixed;
    z-index: 10;
    display:none;
    top:68% ;
    right:8% ;
    width:366px;
}
.svicon{
    position: relative;
    cursor: pointer;
    top:30px;
    left: 330px;
    z-index: 3;
    width: 30px;
}
.bgtext{
    width: 100%;
    height: 600px;
    background-color: #F0F0F0;
    margin: -10px 0 0 0;
}
.showtitle{
    float: left;
    width: 100%;
    margin: 7% 0 0 0;
    padding: 0 auto;
    border-width:0;
    text-align: center;
    font-size: 42px;
    font-weight: 100;
    font-family: '微软雅黑','Helvetica Neue',sans-serif,SimHei;
    letter-spacing: 3px;
    vertical-align: middle;
    color: #000;
    clear: both;
}
.showinfo{
    float: left;
    width: 100%;
    margin: 1% 0 0 0;
    padding: 0 auto;
    border-width:0;
    text-align: center;
    font-size: 18px;
    font-weight: 100;
    font-family: '微软雅黑','Helvetica Neue',sans-serif,SimHei;
    vertical-align: middle;
    color: #000;
    clear: both;
}
.half-line{
    background: linear-gradient(left,#000000,#FFFFFF);
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(left, #000, #F0F0F0);
    /* Safari 5.1+, Chrome 10+ */
    background: -webkit-linear-gradient(left, #000, #F0F0F0);
    /* Opera 11.10+ */
    background: -o-linear-gradient(left, #000, #F0F0F0);
    height: 2px;
    width: 360px;
    margin-top: 5%;
    margin-left: -300px;
    float: left;
    position: relative;
    left: 50%;
}
.half-lineb{
    background: linear-gradient(left,#000000,#FFFFFF);
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(left, #000, #F0F0F0);
    /* Safari 5.1+, Chrome 10+ */
    background: -webkit-linear-gradient(left, #000, #F0F0F0);
    /* Opera 11.10+ */
    background: -o-linear-gradient(left, #000, #F0F0F0);
    height: 2px;
    width: 360px;
    margin-left: -600px;

    float: left;
    left: 50%;
    position: relative;
}
.half-box{
    width: 600px;
    margin-top: 5%;
    margin-left: -360px;
    float: left;
    position: relative;
    left: 50%;
    border-left: 3px solid #000;
}
.bgtitle{
    width: 100%;
    height: 300px;
    background-color: white;
}
.theme{
    float: left;
    width: 100%;
    margin: 5% 0 0 0;
    padding: 0 auto;
    border-width:0;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    font-family: '微软雅黑','Helvetica Neue',sans-serif,SimHei;
    letter-spacing: 8px;
    vertical-align: middle;
    color: #b18000;
    clear: both;
}
.e-theme{
    float: left;
    width: 100%;
    margin: 1% 0 0 0;
    padding: 0 auto;
    border-width:0;
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    font-family: '微软雅黑','Helvetica Neue',sans-serif,SimHei;
    vertical-align: middle;
    color: #ffaa29;
    clear: both;
    background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgb(255, 212, 59)), to(rgb(177, 128, 0)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.theme-btn{
    float: left;
    width: 266px;
    line-height: 36px;
    margin: 1% 0 0 -135px;
    padding: 0 auto;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    font-family: '微软雅黑','Helvetica Neue',sans-serif,SimHei;
    letter-spacing: 3px;
    color: #b18000;
    clear: both;
    position: relative;
    left: 50%;
    border: 1px solid #b18000;
    /*cursor: pointer;*/
}
/*.theme-btn:hover{*/
    /*color: #fff;*/
    /*background-color: #e1bb69;*/
    /*transition: linear 0.18s;*/
/*}*/
.theme-info{
    background-color: rgba(240, 240, 240, 0.8);
    position: absolute;
    width: 666px;
    height: 888px;
    z-index: 8;
    left: 18%;
    margin-top: -136px;
    display: flex;
    flex-direction: column;
}
.theme-content{
    width: 88%;
    height: 200px;
    margin: 6% 8% 3.6% 6%;
}
.more{
    float: right;
    margin-top: 3%;
    background-color: #ffaa29;
    color: white;
    line-height: 30px;
    width: 118px;
    letter-spacing: 3px;
}
.ty-more{
    background-color: #ffaa29;
    color: white;
    line-height: 30px;
    width: 136px;
    letter-spacing: 3px;
    margin: 18.6% 0 0 43%;
}
.wf-more{
    background-color: #ffaa29;
    color: white;
    line-height: 30px;
    height: 36px;
    width: 136px;
    letter-spacing: 3px;
    margin: 5% 0 0 43%;
}
.l-line{
    height: 1px;
    width: 30%;
    background-color: white;
    float: left;
    margin-top: -1.8%;
}
.r-line{
    height: 1px;
    width: 30%;
    background-color: white;
    float: right;
    margin-top: -1.8%;
}
.ty-box{
    width: 100%;
    height: 980px;
    display: flex;
    flex-wrap: wrap;
}
.ty-box-item{
    width: 300px;
    height: 350px;
    background-color: #333;
    margin: 1% 1.8% 1% 1.5%;
}
.ty-text-left{
    float: left;
    color: white;
    margin-left: 3%;
    font-size: 15px;
}
.ty-text-right{
    float: right;
    color: white;
    margin-top: 1px;
    margin-right: 3%;
    font-size: 13px;
}
.ty-info{
    float: left;
    color: #CCC;
    margin-top: 1px;
    margin-left: 3%;
    font-size: 13px;
}
.wf-box-item{
    width: 300px;
    height: 398px;
    background-color: #fff;
    margin: 1% 1.8% 1% 1.5%;
    padding-bottom: 10px;
}
.wf-title{
    width: 100%;
    font-size: 19px;
    text-align: center;
}
.wf-p{
    text-indent: 30px;font-size: 13px;margin: 1% 2%;
}
.wf-tx{
    float: right;margin: 8% 6% 0 0;
}
.wf-wrap{
    width: 100%;background-color: rgba(255,255,255,0.66);height: 100%;position: absolute;
}
.wf-head{
    font-size: 50px;letter-spacing: 5px;width: 100%;text-align: center;margin-top: 136px;
}
.list{
    margin-top: 8px;
    color: white;
    font-weight: 100;
    font-size: 13px;
}
.list-r{
    margin-top: 8px;
    color: white;
    font-weight: 100;
    font-size: 13px;
    text-align: right;
}
.list-icon{
    margin: 18px 0;
    text-align: right;
}
.ul-list{
    float: left;
    padding: 8% 3% 3% 8%;
    color: white;
    font-weight: 100;
}
.ul-list-r{
    float: right;
    padding: 8% 3% 3% 8%;
    color: white;
    font-weight: 100;
}
.web{
    margin-left: 3%;
}